# Environments
.env
env/
venv/
env_backup/
.venv/

# Node modules / Packages
node_modules/
dist/
react_frontend/node_modules/
react_frontend/dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite DB
db.sqlite3

# Scripts
finalize_setup.ps1
cleanup_git.ps1

# VS Code / OS
.vscode/
.DS_Store
Thumbs.db